@import "tailwindcss";

:root {
  --var-clr-main: oklch(0.6638 0.2198 37.26);
  --var-clr-foreground: white;
  --var-clr-secondary: oklch(30.118% 0.00003 271.152);
  --var-clr-bg-dark: oklch(0.1842 0 0);
  --var-clr-description: oklch(61.671% 0.00007 271.152);
}

@theme {
  --color-main: var(--var-clr-main);
  --color-fg: var(--var-clr-foreground);
  --color-detail: var(--var-clr-secondary);
  --color-bgDark: var(--var-clr-bg-dark);
  --color-description: var(--var-clr-description);

}